<nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="#">GOTY</a>

    <a class="navbar-brand" href="#">
        <img src="assets/images/angularLogo.png" width="30" height="30" alt="angular logo">
      </a>

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/inicio" >INICIO</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/goty" >VOTAR</a>
        </li>


      </ul>
    </div>
  </nav>